

<table class="table table-striped">
  <thead>
    <tr>
      <th>Commenter</th>
      <th>Comment</th>
      <th>Delete</th>
    </tr>
  </thead>
	
<tbody>
	<tr>
  <td><%= discussion.commenter %></td>

 
<td><%= discussion.body %></td>

<td class = 'btn btn-xs btn-danger'>
  <%= link_to 'Delete Discussion', [discussion.post, discussion],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</td>
</tr>
</tbody>
</table>


